<p id="notice"><%= notice %></p>

<h1>Listing Cars</h1>

<table id="cars" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Plate</th>
      <th>Year</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.plate %></td>
        <td><%= car.year %></td>
        <td><%= car.value %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
